.header {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
	background-color: $color-card;
  color: #F0F0FF;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

	&__logo {
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
	}

  &__logo-text {
    font-weight: bold;
		font-size: 1.5rem;
		
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
  }

  &__icon {
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateX(3px);
    }
  }
}