@use '../lib/variables';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: variables.$color-card;
  transition: all 0.3s ease;
  z-index: 100;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  &.open {
    width: 250px;
    cursor: pointer;
  }

  &.closed {
    width: 100px;
    align-items: center;
    cursor: pointer;

    .sidebar__logo--text,
    .sidebar__menu--text {
      display: none;
    }

    .sidebar__header {
      justify-content: center;
      padding: 0;
    }

    .sidebar__content {
      padding: 1rem 0;
    }
  }

  &__header {
    display: flex;
    height: 4rem;
    gap: 10px;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(variables.$color-text-muted, 0.1);
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: variables.$color-text;
    text-decoration: none;

    &--icon {
      height: 1.8rem;
      width: 1.8rem;
      color: variables.$color-text;
    }

    &--text {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  &__content {
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--item {
      width: 100%;
    }

    &--button {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.75rem;
      border-radius: 6px;
      text-decoration: none;
      color: variables.$color-text-muted;
      transition: all 0.2s ease;
      cursor: pointer;

      .sidebar.open & {
        justify-content: flex-start;
      }

      .sidebar.closed & {
        justify-content: center;
      }

      &:hover {
        color: variables.$color-text;
        background: rgba(variables.$color-button, 0.1);
      }

      &.active {
        color: variables.$color-text;
        background: rgba(variables.$color-button, 0.2);
        font-weight: 500;
      }
    }
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__menu--icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__icon-label {
    font-size: 0.7rem;
    margin-top: 0.3rem;
    color: variables.$color-text-muted;
    text-align: center;
  }

  &__menu--text {
    transition: opacity 0.2s ease;
  }
}
